<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> 

<html lang="en">

<head>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Broadleaf Commerce Demo Store - Heat Clinic</title>
    <th:block th:replace="/layout/partials/head"></th:block>
</head>

<body id="page-top" class="index" th:class="${'locale-' + session.blLocale.localeCode}">
    <header th:substituteby="layout/partials/header" />
    <!-- Portfolio Grid Section -->



    <footer th:substituteby="layout/partials/footer" />

</body>

</html>
