<div  layout:decorator="layout/fullPageLayout" layout:fragment="content">
    <head>
        <title>Contact Us</title>
    </head>
    <div class="clearfix"></div>
    <div class="container message-container">

     <div class="col-md-9 message-block">
<!--         <div class="row card"> -->
<!--                 <div class="col-lg-12 text-center"> -->
<!--                     <img data-action="zoom" class="panel-profile-img" src="img/new-email-outline.png"></img> -->
<!--                 </div> -->
<!--             </div> -->
        <div class="growl growl-static">
            <div class="alert alert-warning alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h5>Confirmer votre email</h5>
                votre email: <strong class="text-danger">hafedhbenhenda@gmail.com</strong>
                <br></br>
                <a href="/Manage/Edit">changer Email</a> | <a href="/Account/SendConfirmation">confirmer</a>
            </div>
        </div>

    <ul class="list-group media-list media-list-stream">
        <li class="text-center media list-group-item p-a"><span style="font-size: x-large" class="icon icon-chat"></span>&nbsp;&nbsp;<span style="font-size: x-large">Messages</span></li>
                            <li id="Message40505093" class="media list-group-item p-a" style="border-top: none">

                <div class="media-body">
                    <span style="padding-bottom: 5px;" class="pull-right close" onclick="Delete(40505093);return false;" aria-hidden="true">×</span>
                    <span style="white-space: pre-wrap; word-wrap: break-word; white-space: pre-line; overflow: hidden; display: block;">hhhhhhhhhhhhhhhhhhhhhhh</span><br></br>
                    <small class="text-muted">
                        <span data-utcdate="2017-03-31T21:58:17">March 31st 2017, 10:58 pm</span>&nbsp;

                            -&nbsp;<a href="#" aria-hidden="true" onclick="Report(40505093);return false;" style="font-size: smaller">Signaler</a>
                    </small>
                </div>
            </li>
    </ul>

</div>
        </div>
    
</div>