<div id="account" layout:decorator="layout/fullPageLayout" layout:fragment="content">  
    <head>
        <title>Forgot Password</title>
    </head>
    
     <div class="login-container login-body">
      <div class="card"></div>
      <div class="card">
        <h1 class="title">Forgot Password</h1>
        <blc:form id="forgotPasswordForm" th:action="@{/login/forgotPassword}" method="post" class="clearfix">
          <div class="input-container">
            <input type="#{type}" id="#{label}" required="required"/>
            <label for="#{label}">Email Address</label>
            <div class="bar"></div>
          </div>
          <div class="button-container">
            <button><span>Go</span></button>
          </div>
          <div class="footer"><a href="/login">SignIn</a></div>
        </blc:form>
      </div>
    </div>
</div>