
<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <img  class="home-logo" src="img/confesser_logo.png"></img>
            <a class="navbar-brand" href="#page-top">Secret Speech</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <blc:menu resultVar="menuItems" menuName="Header Nav" />
                <li class="page-scroll" th:each="menuItem : ${menuItems}">
                    <a th:href="@{${menuItem.url}}">
                        <span th:utext="${menuItem.label}"></span>
                    </a>
                </li>
                
                <li class="page-scroll" th:unless="${customer.loggedIn}">
                    <a th:href="@{/login}">Login</a>
                </li>
                <li class="page-scroll" th:unless="${customer.loggedIn}">
                    <a th:href="@{/register}">Register</a>
                </li>
                <li class="page-scroll" th:if="${customer.loggedIn}">
                    <a th:href="@{/message}">Messages</a>
                </li>

                <li class="page-scroll">
				    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">Account<span>▼</span>
				    </a>
				    <ul class="dropdown-menu" role="menu" >
				      <li><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
				      <li><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
				    </ul>
				  </li>
                
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>